html {
  font-size: 18px;
}

/* Site container class to keep main content in the width of 960px */
.site-container {
  width: 960px;
  margin: 0px auto;
}

/* Common CSS rules as classes */
.white {
  color: white;
}

.blackBG {
  background-color: black;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.font-family {
  font-family: Helvetica sans-serif;
}

/* Header Section */
.header {
  font-size: 1rem;
}

.header .site-container {
  display: flex;
  align-items: center;
}

.header .site-container img {
  height: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.header .site-container span {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/* New Arrival Section with Banner */
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner .site-container{
  display: flex;
}

.newArrival {
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

.newArrival h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.newArrival h2 {
  font-size: 2rem;
}

/* Nav Section */
.nav {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.nav-tablet {
  display: none;
}

.nav .site-container {
  display: flex;
  justify-content: space-between;
}

.nav span a{
  color: white;
  text-decoration: none;
}

.products .site-container {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  border: 4px solid black;
  width: 30%;
  top: 3rem;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.productImage img {
  width: 9rem;
}

.productHeader {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.productHeader h5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

.info .site-container{
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  top: 3rem;
  position: relative;
  width: 35%;
}

.hours {
  display: flex;
  flex-direction: column;
  top: 3rem;
  position: relative;
  width: 35%;
}

.hours h5,
.location h5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  padding-left: 2rem;
}

.location span,
.hours span {
  margin-bottom: 4rem;
  padding-top: 0.5rem;
  background-color: firebrick;
  border: 2px solid black;
  color: white;
  padding-left: 2rem;
}

.footer .site-container{
  height: 10rem;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.footer .site-container h5{
  text-align: left;
}

/* Media Queries to target screens less than 1024 */
@media only screen and (max-width: 1024px) {
  .nav {
    display: none;
  }

  .nav-tablet {
    display: flex;
    background-color: firebrick;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: center;
  }

  .nav-tablet span a {
    color: white;
    text-decoration: none;
  }

  .glasses {
    display: none;
  }

  .watch,
  .pen {
    width: 47%;
  }

  .newArrival h4 {
    font-size: 0.85rem;
  }

  .newArrival h2 {
    font-size: 1.75rem;
  }
}

/* Media Query to target screens of 470 pixels or less */
@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .newArrival {
    width: 100%;
    position: relative;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .newArrival h4 {
    font-size: 0.77rem;
    padding-bottom: 0.50rem;
  }

  .newArrival h2 {
    font-size: 1rem;
  }

  .watch {
    display: none;
  }

  .products .site-container {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .product {
    width: 100%;
    margin: auto;
  }

  .info .site-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .location {
    width: 100%;
  }

  .location span {
    margin-bottom: 1rem;
  }

  .hours {
    width: 100%;
  }

  .footer .site-container {
    width: 100%;
    justify-content: center;
  }
}
